{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}django-bootstrap5{% endblock %}



{% block content %}

    <div class="modal" id="delModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="modalDelete">Are you sure to delete user?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="realdelete();">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="errorModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Error</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="modalerror"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="myModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">User add</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="modaltext">Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="location.reload();">Reload</button>
          </div>
        </div>
      </div>
    </div>
  

     


    <h2>Available  users</h2>
      <div class="table-responsive small">
        <form action="" id="useradd" method="post" class="needs-validation">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for user in Users %}
      
            <tr>
              <td><button  type="button" onclick="deluser({{ user.id}});" class="btn btn-danger  btn-sm">x</button></td>
              <td>{{ user.name}}</td>
              <td class="text-break">{{ user.email}}</td>
              <td>{{ user.gender}}</td>
              <td>{{ user.status}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td><button  type="submit" class="btn btn-primary">+</button></td>
              <td><input name="name" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required type="name" class="form-control" id="" placeholder="Firstname Lastname">
              <div class="invalid-tooltip">
        Please choose a unique and valid username.
      </div>

              </td>
              <td><input required name="email" type="email" class="form-control" id="" placeholder="name@example.com"></td>
              <td><select id="" name="gender" required class="form-select">
                    <option></option>
                    <option>male</option>
                    <option>female</option>
                  </select>
              </td>
              <td>&nbsp;<input type ="hidden" id="status" name="status" value="active"></td>
            </tr>
          </tbody>
        </table>
      </form>
      </div>

      <script>
        let curuser = 0;
        let delModal = null;
        let myModal = null;
        let errorModal = null;
        const realdelete = async() => {
          const response = await fetch('/api/users/'+curuser, {
              method: 'DELETE',
              credentials: 'include',
              headers: {
                'Content-Type': 'application/json',
                "Accept": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
              },
              });
          //Response from server
          //const data = await response.json();
          delModal.hide();
          location.reload();

        }
        const deluser = (id) => {
          curuser = id;
          delModal = new bootstrap.Modal('#delModal', {})
          delModal.show();
        }
        ( () => {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          const forms = document.querySelectorAll('.needs-validation')
            
          // Loop over them and prevent submission
          Array.from(forms).forEach((form) => {
            form.addEventListener('submit',  async(event) => {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }else{

                event.preventDefault()
                event.stopPropagation()
                
                try {
                  
                  const postData =   new FormData(form)
                  
                  const response = await fetch('/api/users', {
                      method: 'POST',
                      credentials: 'include',
                      headers: {
                        'Content-Type': 'application/json',
                        "Accept": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                      },
                      body:  JSON.stringify(Object.fromEntries(postData.entries()))
                    });
                  //Response from server
                  
                  const data = await response.json();
                  console.log(response.ok)
                  if(response.ok){
                    document.querySelector("#modaltext").innerHTML = "User added successfully"
                    if(!myModal) myModal = new bootstrap.Modal('#myModal', {})
                    myModal.show();
                  } else {
                    document.querySelector("#modalerror").innerHTML = JSON.stringify(data)
                    if(!errorModal) errorModal = new bootstrap.Modal('#errorModal', {})
                    errorModal.show();
                  }
                  
                  
                 
                }catch(e){
                  //handle error
                  console.log(e)
                }
              }

              form.classList.add('was-validated')
            }, false)
          })
        })()

</script>
{% endblock %}

